{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}
{% load thumbnail %}

  <!--div class="container"-->

    {% include "include/menu.html" %}

    {% load cache %}
    {% cache 20 index_page using key page %}
    
    <div class="row">

      {% for post in page %}
      
      	<div class="col">
      	
          {% include "include/post_item.html" with post=post %}
          
        </div>
        
      {% endfor %}
      
    </div>

    {% endcache %}

  {% include "include/paginator.html" %}

  <!--/div-->
{% endblock %}
