{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}<span style="color:blue">Ya</span>tut{% endblock %}
{% block content %}
{% load thumbnail %}

  <!--div class="container"-->

{% comment %}
    {% include "include/menu.html" %}


    {% load cache %}
    {% cache 20 index_page using key page %}
{% endcomment %}

      <div class="row">
        {% for col in page %}
          <div class="col-md-4">
            {% for post in col %}
              {% include "include/post_item.html" with post=post %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>

 {% comment %}   {% endcache %} {% endcomment %}

  {% include "include/paginator.html" %}

  <!--/div-->
{% endblock %}
